// This file will contain all the break point in the project

// break point list

// main break point for this project
$md: 768px;

// other break point for this project
$xl: 1200px;
$lg: 992px;
$xs: 576px;
